Checks: |
  '-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  -google-build-using-namespace,
  misc-*,
  llvm-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-make-shared,
  performance-*,
  portability-*,
  readability-*
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
