test/
test_spot/
test_cell/
test_areosold_Evs/
build/
CMakeFiles/
deploy/
test_nucleus/
test/*
out/*
pred/*
test/*
test_spot/*
test_cell/*
test_areosold_Evs/*
build/*
CMakeFiles/*
deploy/*
test_nucleus/*
