CMakeFiles
cmake_install.cmake
CMakeCache.txt
.cache/clangd/index/main_test.cpp.7D95CEE782D76D4B.idx
.cache/clangd/index/main.cpp.3321B61B8753B21B.idx
build/Makefile
build/build/evanalyzerv2
build/build/tests
img/nucleus.tif
sub.jpg
.cache/clangd/index/image_loader.cpp.ADD44BCDEAF4D89F.idx
.cache/clangd/index/image.cpp.4515587B302BBC4D.idx
.cache/clangd/index/image.hpp.D16B2B73347C7CD5.idx
.cache/clangd/index/pipeline_coloc.cpp.FBEF86C33388F278.idx
.cache/clangd/index/pipeline_coloc.hpp.4FBE1E1B009D32F0.idx
.cache/clangd/index/pipeline.cpp.CD5E979F92DE8BC0.idx
.cache/clangd/index/pipeline.hpp.AC16C7A031890038.idx
.cache/clangd/index/rolling_ball.cpp.6FC6086D99B97DA3.idx
.cache/clangd/index/rolling_ball.hpp.8D482F6A5242B71D.idx
output/
.cache/
*.vsi
*.ets
*.tiff
*.out.*
result.txt
test
pred/image_out8.jpg
out
out/*.csv
out/report.csv
models/nucleus_detection.onnx
build/build/models/nucleus_detection.onnx
build/build/imagec
deploy/
build/
test_nucleus/

test_cell/
test_spot
test_areosold_Evs
build/compile_commands.json
test.json
test_nucleus/
java/jre_win
java/jre_linux
src/build_info.h
