CMakeFiles
cmake_install.cmake
CMakeCache.txt
.cache/clangd/index/main_test.cpp.7D95CEE782D76D4B.idx
.cache/clangd/index/main.cpp.3321B61B8753B21B.idx
build/Makefile
build/build/evanalyzerv2
build/build/tests
img/nucleus.tif
sub.jpg
.cache/clangd/index/image_loader.cpp.ADD44BCDEAF4D89F.idx
.cache/clangd/index/image.cpp.4515587B302BBC4D.idx
.cache/clangd/index/image.hpp.D16B2B73347C7CD5.idx
.cache/clangd/index/pipeline_coloc.cpp.FBEF86C33388F278.idx
.cache/clangd/index/pipeline_coloc.hpp.4FBE1E1B009D32F0.idx
.cache/clangd/index/pipeline.cpp.CD5E979F92DE8BC0.idx
.cache/clangd/index/pipeline.hpp.AC16C7A031890038.idx
.cache/clangd/index/rolling_ball.cpp.6FC6086D99B97DA3.idx
.cache/clangd/index/rolling_ball.hpp.8D482F6A5242B71D.idx
output/
.cache/
*.vsi
*.ets
*.tiff
*.out.*
result.txt
test
*.jpg
pred/image_out8.jpg
out
out/*.csv
out/ctrl_0.csv
out/ctrl_1.csv
out/ctrl_2.csv
out/ctrl_3.csv
out/ctrl_4.csv
out/ctrl_5.csv
out/ctrl_6.csv
out/ctrl_7.csv
out/ctrl_8.csv
out/ctrl_9.csv
out/ctrl_10.csv
out/ctrl_11.csv
out/ctrl_12.csv
out/ctrl_13.csv
out/ctrl_14.csv
out/ctrl_15.csv
out/ctrl_16.csv
out/ctrl_17.csv
out/ctrl_18.csv
out/ctrl_19.csv
out/ctrl_20.csv
out/ctrl_21.csv
out/ctrl_22.csv
out/ctrl_23.csv
out/ctrl_24.csv
out/ctrl_25.csv
out/ctrl_26.csv
out/ctrl_27.csv
out/ctrl_28.csv
out/ctrl_29.csv
out/ctrl_30.csv
out/ctrl_31.csv
out/ctrl_32.csv
out/ctrl_33.csv
out/ctrl_34.csv
out/ctrl_35.csv
out/ctrl_36.csv
out/ctrl_37.csv
out/ctrl_38.csv
out/ctrl_39.csv
out/ctrl_40.csv
out/ctrl_41.csv
out/ctrl_42.csv
out/ctrl_43.csv
out/ctrl_44.csv
out/ctrl_45.csv
out/ctrl_46.csv
out/ctrl_47.csv
out/ctrl_48.csv
out/ctrl_49.csv
out/ctrl_50.csv
out/ctrl_51.csv
out/ctrl_52.csv
out/ctrl_53.csv
out/ctrl_54.csv
out/ctrl_55.csv
out/ctrl_56.csv
out/ctrl_57.csv
out/ctrl_58.csv
out/ctrl_59.csv
out/ctrl_60.csv
out/ctrl_61.csv
out/ctrl_62.csv
out/ctrl_63.csv
out/ctrl_64.csv
out/ctrl_65.csv
out/ctrl_66.csv
out/ctrl_67.csv
out/ctrl_68.csv
out/ctrl_69.csv
out/ctrl_70.csv
out/ctrl_71.csv
out/ctrl_72.csv
out/ctrl_73.csv
out/ctrl_74.csv
out/ctrl_75.csv
out/ctrl_76.csv
out/ctrl_77.csv
out/ctrl_78.csv
out/ctrl_79.csv
out/ctrl_80.csv
out/ctrl_81.csv
out/ctrl_82.csv
out/ctrl_83.csv
out/ctrl_84.csv
out/ctrl_85.csv
out/ctrl_86.csv
out/ctrl_87.csv
out/ctrl_88.csv
out/ctrl_89.csv
out/ctrl_90.csv
out/ctrl_91.csv
out/ctrl_92.csv
out/ctrl_93.csv
out/ctrl_94.csv
out/ctrl_95.csv
out/ctrl_96.csv
out/ctrl_97.csv
out/ctrl_98.csv
out/ctrl_99.csv
out/ctrl_100.csv
out/ctrl_101.csv
out/ctrl_102.csv
out/ctrl_103.csv
out/ctrl_104.csv
out/ctrl_105.csv
out/ctrl_106.csv
out/ctrl_107.csv
out/ctrl_108.csv
out/ctrl_109.csv
out/ctrl_110.csv
out/ctrl_111.csv
out/ctrl_112.csv
out/ctrl_113.csv
out/ctrl_114.csv
out/ctrl_115.csv
out/ctrl_116.csv
out/ctrl_117.csv
out/ctrl_118.csv
out/ctrl_119.csv
out/ctrl_120.csv
out/ctrl_121.csv
out/ctrl_122.csv
out/ctrl_123.csv
out/ctrl_124.csv
out/ctrl_125.csv
out/ctrl_126.csv
out/ctrl_127.csv
out/ctrl_128.csv
out/ctrl_129.csv
out/ctrl_130.csv
out/ctrl_131.csv
out/ctrl_132.csv
out/ctrl_133.csv
out/ctrl_134.csv
out/ctrl_135.csv
out/ctrl_136.csv
out/ctrl_137.csv
out/ctrl_138.csv
out/ctrl_139.csv
out/ctrl_140.csv
out/ctrl_141.csv
out/ctrl_142.csv
out/ctrl_143.csv
out/ctrl_144.csv
out/ctrl_145.csv
out/ctrl_146.csv
out/ctrl_147.csv
out/ctrl_148.csv
out/ctrl_149.csv
out/ctrl_150.csv
out/ctrl_151.csv
out/ctrl_152.csv
out/ctrl_153.csv
out/ctrl_154.csv
out/ctrl_155.csv
out/ctrl_156.csv
out/ctrl_157.csv
out/ctrl_158.csv
out/ctrl_159.csv
out/ctrl_160.csv
out/ctrl_161.csv
out/ctrl_162.csv
out/ctrl_163.csv
out/ctrl_164.csv
out/ctrl_165.csv
out/ctrl_166.csv
out/ctrl_167.csv
out/ctrl_168.csv
out/ctrl_169.csv
out/ctrl_170.csv
out/ctrl_171.csv
out/ctrl_172.csv
out/ctrl_173.csv
out/ctrl_174.csv
out/ctrl_175.csv
out/ctrl_176.csv
out/ctrl_177.csv
out/ctrl_178.csv
out/ctrl_179.csv
out/ctrl_180.csv
out/ctrl_181.csv
out/ctrl_182.csv
out/ctrl_183.csv
out/ctrl_184.csv
out/ctrl_185.csv
out/ctrl_186.csv
out/ctrl_187.csv
out/ctrl_188.csv
out/ctrl_189.csv
out/ctrl_190.csv
out/ctrl_191.csv
out/ctrl_192.csv
out/ctrl_193.csv
out/ctrl_194.csv
out/ctrl_195.csv
out/ctrl_196.csv
out/ctrl_197.csv
out/ctrl_198.csv
out/ctrl_199.csv
out/report.csv
models/nucleus_detection.onnx
.gitignore
build/build/models/nucleus_detection.onnx
build/build/imagec
deploy/
build/
imagec_gui
