Package: imageC
Version: 0.0-1
Section: science
Priority: optional
Architecture: amd64
Depends:
Maintainer: Joachim Danmayr <joachim@danmayr.org>
Homepage: www.imagec.org
Description: Image processing software for biologists.
 High throughput image processing application for scientists.
